/* Let's make links grey */
a {
    color: grey;
}
a:visited {
    color:dimgrey;
}

h1 {
    text-align: center;
}

li {
    margin: 1rem;
}

.center-container {
    text-align: center;
    margin: 1rem;
}

.google_map {
    margin-top: 1rem;
    width: 80%;
    height: 30rem;
}

/* image caption right aligned */
.img-caption {
    color: grey;
    text-align: right;
    padding-bottom: 1rem;
}