/* Let's make links grey */
a {
    color: grey;
}
a:visited {
    color:darkgray;
}

h1 {
    text-align: center;
}

li {
    margin: 1rem;
}

.center-container {
    text-align: center;
    margin-bottom: 1rem;
}

.google_map {
    width: 70%;
    height: 25rem;
}