/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

h1 {
    padding-bottom: 1rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: darkgrey;
    border-top: .05rem solid #e5e5e5;
}

/* Stick bullets to text */
ul {
    list-style-position: inside;
}

/* Customize container */
.container {
    text-align: center;
}

@media (min-width: 48em) {
    .container {
        max-width: 60rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Make links grey */
a {
    color: grey;
}
a:visited {
    color:dimgrey;
}

h1 {
    text-align: center;
}

li {
    margin: 1rem;
}

.center-container {
    text-align: center;
    margin: 1rem;
}

.google_map {
    margin-top: 1rem;
    width: 80%;
    height: 30rem;
}

/* image caption right aligned */
.img-caption {
    color: grey;
    text-align: right;
    padding-bottom: 1rem;
}